rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /registrations/{docId} {
      allow create: if true;
    }
    match /messages/{docId} {
      allow create: if true;
    }
    match /events/{docId} {
      allow read, write: if true;
    }
    match /adventures/{docId} {
      allow read, write: if true;
    }
  }
}
